In [395]:
import pandas as pd
import datetime
import numpy as np

In [396]:
df1 = pd.read_json("23FEB_ENTERED.json")

In [397]:
df1

,STATUS,occasionType,orderID,timestamp
0,ENTERED,DRIVE_THRU,286a99c4-99cc-415a-801a-f3d89f144bf3,2021-02-23 15:45:07+00:00
1,ENTERED,DRIVE_THRU,370e861c-f195-4613-ab1f-05abb0a03651,2021-02-23 16:06:53+00:00
2,ENTERED,DRIVE_THRU,92a25bb4-aaf0-4be9-8350-ab90604fb548,2021-02-23 16:08:47+00:00
3,ENTERED,DRIVE_THRU,8b0cdbfa-65ec-489d-b76d-44fd05b34b2b,2021-02-23 16:08:59+00:00
4,ENTERED,CARRYOUT,4af9135f-ecf2-4a32-be11-66157df8c212,2021-02-23 16:27:43+00:00
...,...,...,...,...
421,ENTERED,DRIVE_THRU,78de7412-a164-40ac-be01-40b60ccb00a3,2021-02-24 10:06:14+00:00
422,ENTERED,DRIVE_THRU,bbe383be-6e7c-4a1b-a687-ea2a79d8c90f,2021-02-24 10:12:12+00:00
423,ENTERED,DRIVE_THRU,fa87d8e0-0360-44d5-9131-e18772969f3c,2021-02-24 10:24:16+00:00
424,ENTERED,DRIVE_THRU,56b2e9f7-69af-4f38-979c-3bdc22109507,2021-02-24 10:46:09+00:00
425,ENTERED,DRIVE_THRU,f8ad3def-6996-48fd-92b4-64330a734bd3,2021-02-24 11:37:22+00:00

In [398]:
df1.rename(columns = {'timestamp':'Entered_date_time'}, inplace = True)

In [399]:
df1

,STATUS,occasionType,orderID,Entered_date_time
0,ENTERED,DRIVE_THRU,286a99c4-99cc-415a-801a-f3d89f144bf3,2021-02-23 15:45:07+00:00
1,ENTERED,DRIVE_THRU,370e861c-f195-4613-ab1f-05abb0a03651,2021-02-23 16:06:53+00:00
2,ENTERED,DRIVE_THRU,92a25bb4-aaf0-4be9-8350-ab90604fb548,2021-02-23 16:08:47+00:00
3,ENTERED,DRIVE_THRU,8b0cdbfa-65ec-489d-b76d-44fd05b34b2b,2021-02-23 16:08:59+00:00
4,ENTERED,CARRYOUT,4af9135f-ecf2-4a32-be11-66157df8c212,2021-02-23 16:27:43+00:00
...,...,...,...,...
421,ENTERED,DRIVE_THRU,78de7412-a164-40ac-be01-40b60ccb00a3,2021-02-24 10:06:14+00:00
422,ENTERED,DRIVE_THRU,bbe383be-6e7c-4a1b-a687-ea2a79d8c90f,2021-02-24 10:12:12+00:00
423,ENTERED,DRIVE_THRU,fa87d8e0-0360-44d5-9131-e18772969f3c,2021-02-24 10:24:16+00:00
424,ENTERED,DRIVE_THRU,56b2e9f7-69af-4f38-979c-3bdc22109507,2021-02-24 10:46:09+00:00
425,ENTERED,DRIVE_THRU,f8ad3def-6996-48fd-92b4-64330a734bd3,2021-02-24 11:37:22+00:00

In [400]:
df2 = pd.read_json("23FEB_INIT.json")

In [401]:
df2

,STATUS,occasionType,orderID,timestamp
0,INIT,DRIVE_THRU,286a99c4-99cc-415a-801a-f3d89f144bf3,2021-02-23 15:45:00+00:00
1,INIT,DRIVE_THRU,370e861c-f195-4613-ab1f-05abb0a03651,2021-02-23 15:45:07+00:00
2,INIT,DRIVE_THRU,92a25bb4-aaf0-4be9-8350-ab90604fb548,2021-02-23 16:07:35+00:00
3,INIT,DRIVE_THRU,8b0cdbfa-65ec-489d-b76d-44fd05b34b2b,2021-02-23 16:08:50+00:00
4,INIT,CARRYOUT,4af9135f-ecf2-4a32-be11-66157df8c212,2021-02-23 16:27:09+00:00
...,...,...,...,...
421,INIT,DRIVE_THRU,78de7412-a164-40ac-be01-40b60ccb00a3,2021-02-24 10:06:02+00:00
422,INIT,DRIVE_THRU,bbe383be-6e7c-4a1b-a687-ea2a79d8c90f,2021-02-24 10:11:05+00:00
423,INIT,DRIVE_THRU,fa87d8e0-0360-44d5-9131-e18772969f3c,2021-02-24 10:24:08+00:00
424,INIT,DRIVE_THRU,56b2e9f7-69af-4f38-979c-3bdc22109507,2021-02-24 10:24:16+00:00
425,INIT,DRIVE_THRU,f8ad3def-6996-48fd-92b4-64330a734bd3,2021-02-24 11:37:19+00:00

In [402]:
df2.rename(columns = {'timestamp':'INIT_date_time'}, inplace = True)

In [403]:
df2

,STATUS,occasionType,orderID,INIT_date_time
0,INIT,DRIVE_THRU,286a99c4-99cc-415a-801a-f3d89f144bf3,2021-02-23 15:45:00+00:00
1,INIT,DRIVE_THRU,370e861c-f195-4613-ab1f-05abb0a03651,2021-02-23 15:45:07+00:00
2,INIT,DRIVE_THRU,92a25bb4-aaf0-4be9-8350-ab90604fb548,2021-02-23 16:07:35+00:00
3,INIT,DRIVE_THRU,8b0cdbfa-65ec-489d-b76d-44fd05b34b2b,2021-02-23 16:08:50+00:00
4,INIT,CARRYOUT,4af9135f-ecf2-4a32-be11-66157df8c212,2021-02-23 16:27:09+00:00
...,...,...,...,...
421,INIT,DRIVE_THRU,78de7412-a164-40ac-be01-40b60ccb00a3,2021-02-24 10:06:02+00:00
422,INIT,DRIVE_THRU,bbe383be-6e7c-4a1b-a687-ea2a79d8c90f,2021-02-24 10:11:05+00:00
423,INIT,DRIVE_THRU,fa87d8e0-0360-44d5-9131-e18772969f3c,2021-02-24 10:24:08+00:00
424,INIT,DRIVE_THRU,56b2e9f7-69af-4f38-979c-3bdc22109507,2021-02-24 10:24:16+00:00
425,INIT,DRIVE_THRU,f8ad3def-6996-48fd-92b4-64330a734bd3,2021-02-24 11:37:19+00:00

In [404]:
df = pd.merge(df1, df2, on=["orderID"])

In [405]:
df

,STATUS_x,occasionType_x,orderID,Entered_date_time,STATUS_y,occasionType_y,INIT_date_time
0,ENTERED,DRIVE_THRU,286a99c4-99cc-415a-801a-f3d89f144bf3,2021-02-23 15:45:07+00:00,INIT,DRIVE_THRU,2021-02-23 15:45:00+00:00
1,ENTERED,DRIVE_THRU,370e861c-f195-4613-ab1f-05abb0a03651,2021-02-23 16:06:53+00:00,INIT,DRIVE_THRU,2021-02-23 15:45:07+00:00
2,ENTERED,DRIVE_THRU,92a25bb4-aaf0-4be9-8350-ab90604fb548,2021-02-23 16:08:47+00:00,INIT,DRIVE_THRU,2021-02-23 16:07:35+00:00
3,ENTERED,DRIVE_THRU,8b0cdbfa-65ec-489d-b76d-44fd05b34b2b,2021-02-23 16:08:59+00:00,INIT,DRIVE_THRU,2021-02-23 16:08:50+00:00
4,ENTERED,CARRYOUT,4af9135f-ecf2-4a32-be11-66157df8c212,2021-02-23 16:27:43+00:00,INIT,CARRYOUT,2021-02-23 16:27:09+00:00
...,...,...,...,...,...,...,...
421,ENTERED,DRIVE_THRU,78de7412-a164-40ac-be01-40b60ccb00a3,2021-02-24 10:06:14+00:00,INIT,DRIVE_THRU,2021-02-24 10:06:02+00:00
422,ENTERED,DRIVE_THRU,bbe383be-6e7c-4a1b-a687-ea2a79d8c90f,2021-02-24 10:12:12+00:00,INIT,DRIVE_THRU,2021-02-24 10:11:05+00:00
423,ENTERED,DRIVE_THRU,fa87d8e0-0360-44d5-9131-e18772969f3c,2021-02-24 10:24:16+00:00,INIT,DRIVE_THRU,2021-02-24 10:24:08+00:00
424,ENTERED,DRIVE_THRU,56b2e9f7-69af-4f38-979c-3bdc22109507,2021-02-24 10:46:09+00:00,INIT,DRIVE_THRU,2021-02-24 10:24:16+00:00
425,ENTERED,DRIVE_THRU,f8ad3def-6996-48fd-92b4-64330a734bd3,2021-02-24 11:37:22+00:00,INIT,DRIVE_THRU,2021-02-24 11:37:19+00:00

In [407]:
df.to_csv("23ST_FC_test.csv")

In [408]:
df['time_diff'] = df['Entered_date_time'] - df['INIT_date_time']

In [409]:
df

,STATUS_x,occasionType_x,orderID,Entered_date_time,STATUS_y,occasionType_y,INIT_date_time,time_diff
0,ENTERED,DRIVE_THRU,286a99c4-99cc-415a-801a-f3d89f144bf3,2021-02-23 15:45:07+00:00,INIT,DRIVE_THRU,2021-02-23 15:45:00+00:00,00:00:07
1,ENTERED,DRIVE_THRU,370e861c-f195-4613-ab1f-05abb0a03651,2021-02-23 16:06:53+00:00,INIT,DRIVE_THRU,2021-02-23 15:45:07+00:00,00:21:46
2,ENTERED,DRIVE_THRU,92a25bb4-aaf0-4be9-8350-ab90604fb548,2021-02-23 16:08:47+00:00,INIT,DRIVE_THRU,2021-02-23 16:07:35+00:00,00:01:12
3,ENTERED,DRIVE_THRU,8b0cdbfa-65ec-489d-b76d-44fd05b34b2b,2021-02-23 16:08:59+00:00,INIT,DRIVE_THRU,2021-02-23 16:08:50+00:00,00:00:09
4,ENTERED,CARRYOUT,4af9135f-ecf2-4a32-be11-66157df8c212,2021-02-23 16:27:43+00:00,INIT,CARRYOUT,2021-02-23 16:27:09+00:00,00:00:34
...,...,...,...,...,...,...,...,...
421,ENTERED,DRIVE_THRU,78de7412-a164-40ac-be01-40b60ccb00a3,2021-02-24 10:06:14+00:00,INIT,DRIVE_THRU,2021-02-24 10:06:02+00:00,00:00:12
422,ENTERED,DRIVE_THRU,bbe383be-6e7c-4a1b-a687-ea2a79d8c90f,2021-02-24 10:12:12+00:00,INIT,DRIVE_THRU,2021-02-24 10:11:05+00:00,00:01:07
423,ENTERED,DRIVE_THRU,fa87d8e0-0360-44d5-9131-e18772969f3c,2021-02-24 10:24:16+00:00,INIT,DRIVE_THRU,2021-02-24 10:24:08+00:00,00:00:08
424,ENTERED,DRIVE_THRU,56b2e9f7-69af-4f38-979c-3bdc22109507,2021-02-24 10:46:09+00:00,INIT,DRIVE_THRU,2021-02-24 10:24:16+00:00,00:21:53
425,ENTERED,DRIVE_THRU,f8ad3def-6996-48fd-92b4-64330a734bd3,2021-02-24 11:37:22+00:00,INIT,DRIVE_THRU,2021-02-24 11:37:19+00:00,00:00:03

In [410]:
def my_func(x):
    y = str(x).split(":")
    _min = y[1]
    _sec = y[2].split("+")[0]
    return f'{_min}:{_sec}'
df['Order_time_in_Second'] = df['time_diff'].apply(my_func)

In [411]:
df

,STATUS_x,occasionType_x,orderID,Entered_date_time,STATUS_y,occasionType_y,INIT_date_time,time_diff,Order_time_in_Second
0,ENTERED,DRIVE_THRU,286a99c4-99cc-415a-801a-f3d89f144bf3,2021-02-23 15:45:07+00:00,INIT,DRIVE_THRU,2021-02-23 15:45:00+00:00,00:00:07,00:07
1,ENTERED,DRIVE_THRU,370e861c-f195-4613-ab1f-05abb0a03651,2021-02-23 16:06:53+00:00,INIT,DRIVE_THRU,2021-02-23 15:45:07+00:00,00:21:46,21:46
2,ENTERED,DRIVE_THRU,92a25bb4-aaf0-4be9-8350-ab90604fb548,2021-02-23 16:08:47+00:00,INIT,DRIVE_THRU,2021-02-23 16:07:35+00:00,00:01:12,01:12
3,ENTERED,DRIVE_THRU,8b0cdbfa-65ec-489d-b76d-44fd05b34b2b,2021-02-23 16:08:59+00:00,INIT,DRIVE_THRU,2021-02-23 16:08:50+00:00,00:00:09,00:09
4,ENTERED,CARRYOUT,4af9135f-ecf2-4a32-be11-66157df8c212,2021-02-23 16:27:43+00:00,INIT,CARRYOUT,2021-02-23 16:27:09+00:00,00:00:34,00:34
...,...,...,...,...,...,...,...,...,...
421,ENTERED,DRIVE_THRU,78de7412-a164-40ac-be01-40b60ccb00a3,2021-02-24 10:06:14+00:00,INIT,DRIVE_THRU,2021-02-24 10:06:02+00:00,00:00:12,00:12
422,ENTERED,DRIVE_THRU,bbe383be-6e7c-4a1b-a687-ea2a79d8c90f,2021-02-24 10:12:12+00:00,INIT,DRIVE_THRU,2021-02-24 10:11:05+00:00,00:01:07,01:07
423,ENTERED,DRIVE_THRU,fa87d8e0-0360-44d5-9131-e18772969f3c,2021-02-24 10:24:16+00:00,INIT,DRIVE_THRU,2021-02-24 10:24:08+00:00,00:00:08,00:08
424,ENTERED,DRIVE_THRU,56b2e9f7-69af-4f38-979c-3bdc22109507,2021-02-24 10:46:09+00:00,INIT,DRIVE_THRU,2021-02-24 10:24:16+00:00,00:21:53,21:53
425,ENTERED,DRIVE_THRU,f8ad3def-6996-48fd-92b4-64330a734bd3,2021-02-24 11:37:22+00:00,INIT,DRIVE_THRU,2021-02-24 11:37:19+00:00,00:00:03,00:03

In [412]:
def year_month_day(date):
    return str(date).split(" ")[0]
df['order_date'] = df['INIT_date_time'].apply(year_month_day)

In [413]:
df

,STATUS_x,occasionType_x,orderID,Entered_date_time,STATUS_y,occasionType_y,INIT_date_time,time_diff,Order_time_in_Second,order_date
0,ENTERED,DRIVE_THRU,286a99c4-99cc-415a-801a-f3d89f144bf3,2021-02-23 15:45:07+00:00,INIT,DRIVE_THRU,2021-02-23 15:45:00+00:00,00:00:07,00:07,2021-02-23
1,ENTERED,DRIVE_THRU,370e861c-f195-4613-ab1f-05abb0a03651,2021-02-23 16:06:53+00:00,INIT,DRIVE_THRU,2021-02-23 15:45:07+00:00,00:21:46,21:46,2021-02-23
2,ENTERED,DRIVE_THRU,92a25bb4-aaf0-4be9-8350-ab90604fb548,2021-02-23 16:08:47+00:00,INIT,DRIVE_THRU,2021-02-23 16:07:35+00:00,00:01:12,01:12,2021-02-23
3,ENTERED,DRIVE_THRU,8b0cdbfa-65ec-489d-b76d-44fd05b34b2b,2021-02-23 16:08:59+00:00,INIT,DRIVE_THRU,2021-02-23 16:08:50+00:00,00:00:09,00:09,2021-02-23
4,ENTERED,CARRYOUT,4af9135f-ecf2-4a32-be11-66157df8c212,2021-02-23 16:27:43+00:00,INIT,CARRYOUT,2021-02-23 16:27:09+00:00,00:00:34,00:34,2021-02-23
...,...,...,...,...,...,...,...,...,...,...
421,ENTERED,DRIVE_THRU,78de7412-a164-40ac-be01-40b60ccb00a3,2021-02-24 10:06:14+00:00,INIT,DRIVE_THRU,2021-02-24 10:06:02+00:00,00:00:12,00:12,2021-02-24
422,ENTERED,DRIVE_THRU,bbe383be-6e7c-4a1b-a687-ea2a79d8c90f,2021-02-24 10:12:12+00:00,INIT,DRIVE_THRU,2021-02-24 10:11:05+00:00,00:01:07,01:07,2021-02-24
423,ENTERED,DRIVE_THRU,fa87d8e0-0360-44d5-9131-e18772969f3c,2021-02-24 10:24:16+00:00,INIT,DRIVE_THRU,2021-02-24 10:24:08+00:00,00:00:08,00:08,2021-02-24
424,ENTERED,DRIVE_THRU,56b2e9f7-69af-4f38-979c-3bdc22109507,2021-02-24 10:46:09+00:00,INIT,DRIVE_THRU,2021-02-24 10:24:16+00:00,00:21:53,21:53,2021-02-24
425,ENTERED,DRIVE_THRU,f8ad3def-6996-48fd-92b4-64330a734bd3,2021-02-24 11:37:22+00:00,INIT,DRIVE_THRU,2021-02-24 11:37:19+00:00,00:00:03,00:03,2021-02-24

In [414]:
df['avg_order_time'] = pd.Series(pd.to_timedelta(df['time_diff'])).mean()

In [415]:
df['avg_order_time']

0     00:01:35.767605
1     00:01:35.767605
2     00:01:35.767605
3     00:01:35.767605
4     00:01:35.767605
            ...
421   00:01:35.767605
422   00:01:35.767605
423   00:01:35.767605
424   00:01:35.767605
425   00:01:35.767605
Name: avg_order_time, Length: 426, dtype: timedelta64[ns]

In [416]:
df.drop(['time_diff'], axis = 1)

,STATUS_x,occasionType_x,orderID,Entered_date_time,STATUS_y,occasionType_y,INIT_date_time,Order_time_in_Second,order_date,avg_order_time
0,ENTERED,DRIVE_THRU,286a99c4-99cc-415a-801a-f3d89f144bf3,2021-02-23 15:45:07+00:00,INIT,DRIVE_THRU,2021-02-23 15:45:00+00:00,00:07,2021-02-23,00:01:35.767605
1,ENTERED,DRIVE_THRU,370e861c-f195-4613-ab1f-05abb0a03651,2021-02-23 16:06:53+00:00,INIT,DRIVE_THRU,2021-02-23 15:45:07+00:00,21:46,2021-02-23,00:01:35.767605
2,ENTERED,DRIVE_THRU,92a25bb4-aaf0-4be9-8350-ab90604fb548,2021-02-23 16:08:47+00:00,INIT,DRIVE_THRU,2021-02-23 16:07:35+00:00,01:12,2021-02-23,00:01:35.767605
3,ENTERED,DRIVE_THRU,8b0cdbfa-65ec-489d-b76d-44fd05b34b2b,2021-02-23 16:08:59+00:00,INIT,DRIVE_THRU,2021-02-23 16:08:50+00:00,00:09,2021-02-23,00:01:35.767605
4,ENTERED,CARRYOUT,4af9135f-ecf2-4a32-be11-66157df8c212,2021-02-23 16:27:43+00:00,INIT,CARRYOUT,2021-02-23 16:27:09+00:00,00:34,2021-02-23,00:01:35.767605
...,...,...,...,...,...,...,...,...,...,...
421,ENTERED,DRIVE_THRU,78de7412-a164-40ac-be01-40b60ccb00a3,2021-02-24 10:06:14+00:00,INIT,DRIVE_THRU,2021-02-24 10:06:02+00:00,00:12,2021-02-24,00:01:35.767605
422,ENTERED,DRIVE_THRU,bbe383be-6e7c-4a1b-a687-ea2a79d8c90f,2021-02-24 10:12:12+00:00,INIT,DRIVE_THRU,2021-02-24 10:11:05+00:00,01:07,2021-02-24,00:01:35.767605
423,ENTERED,DRIVE_THRU,fa87d8e0-0360-44d5-9131-e18772969f3c,2021-02-24 10:24:16+00:00,INIT,DRIVE_THRU,2021-02-24 10:24:08+00:00,00:08,2021-02-24,00:01:35.767605
424,ENTERED,DRIVE_THRU,56b2e9f7-69af-4f38-979c-3bdc22109507,2021-02-24 10:46:09+00:00,INIT,DRIVE_THRU,2021-02-24 10:24:16+00:00,21:53,2021-02-24,00:01:35.767605
425,ENTERED,DRIVE_THRU,f8ad3def-6996-48fd-92b4-64330a734bd3,2021-02-24 11:37:22+00:00,INIT,DRIVE_THRU,2021-02-24 11:37:19+00:00,00:03,2021-02-24,00:01:35.767605

In [417]:
def my_func(x):
    y = str(x).split(":")
    _min = y[1]
    _sec = y[2].split("+")[0]
    return f'{_min}:{_sec}'
df['avg_time'] = df['avg_order_time'].apply(my_func)

In [418]:
df.drop(['avg_order_time'], axis = 1)

,STATUS_x,occasionType_x,orderID,Entered_date_time,STATUS_y,occasionType_y,INIT_date_time,time_diff,Order_time_in_Second,order_date,avg_time
0,ENTERED,DRIVE_THRU,286a99c4-99cc-415a-801a-f3d89f144bf3,2021-02-23 15:45:07+00:00,INIT,DRIVE_THRU,2021-02-23 15:45:00+00:00,00:00:07,00:07,2021-02-23,01:35.767605
1,ENTERED,DRIVE_THRU,370e861c-f195-4613-ab1f-05abb0a03651,2021-02-23 16:06:53+00:00,INIT,DRIVE_THRU,2021-02-23 15:45:07+00:00,00:21:46,21:46,2021-02-23,01:35.767605
2,ENTERED,DRIVE_THRU,92a25bb4-aaf0-4be9-8350-ab90604fb548,2021-02-23 16:08:47+00:00,INIT,DRIVE_THRU,2021-02-23 16:07:35+00:00,00:01:12,01:12,2021-02-23,01:35.767605
3,ENTERED,DRIVE_THRU,8b0cdbfa-65ec-489d-b76d-44fd05b34b2b,2021-02-23 16:08:59+00:00,INIT,DRIVE_THRU,2021-02-23 16:08:50+00:00,00:00:09,00:09,2021-02-23,01:35.767605
4,ENTERED,CARRYOUT,4af9135f-ecf2-4a32-be11-66157df8c212,2021-02-23 16:27:43+00:00,INIT,CARRYOUT,2021-02-23 16:27:09+00:00,00:00:34,00:34,2021-02-23,01:35.767605
...,...,...,...,...,...,...,...,...,...,...,...
421,ENTERED,DRIVE_THRU,78de7412-a164-40ac-be01-40b60ccb00a3,2021-02-24 10:06:14+00:00,INIT,DRIVE_THRU,2021-02-24 10:06:02+00:00,00:00:12,00:12,2021-02-24,01:35.767605
422,ENTERED,DRIVE_THRU,bbe383be-6e7c-4a1b-a687-ea2a79d8c90f,2021-02-24 10:12:12+00:00,INIT,DRIVE_THRU,2021-02-24 10:11:05+00:00,00:01:07,01:07,2021-02-24,01:35.767605
423,ENTERED,DRIVE_THRU,fa87d8e0-0360-44d5-9131-e18772969f3c,2021-02-24 10:24:16+00:00,INIT,DRIVE_THRU,2021-02-24 10:24:08+00:00,00:00:08,00:08,2021-02-24,01:35.767605
424,ENTERED,DRIVE_THRU,56b2e9f7-69af-4f38-979c-3bdc22109507,2021-02-24 10:46:09+00:00,INIT,DRIVE_THRU,2021-02-24 10:24:16+00:00,00:21:53,21:53,2021-02-24,01:35.767605
425,ENTERED,DRIVE_THRU,f8ad3def-6996-48fd-92b4-64330a734bd3,2021-02-24 11:37:22+00:00,INIT,DRIVE_THRU,2021-02-24 11:37:19+00:00,00:00:03,00:03,2021-02-24,01:35.767605

In [419]:
df.to_csv("23rd_FC_report.csv")